{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <div class="container">
        <h4 class="mb-3">Trending Topics</h4>
        <hr>
        
        <!-- https://getbootstrap.com/docs/4.0/components/list-group/ -->
        <ul class="list-group list-group-flush">
            
            <li class="list-group-item">
                <!-- Healine and toggle icon -->
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="mb-0">Headline</h5>
                    <button class="btn btn-sm btn-link" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#summary" 
                            aria-expanded="false" 
                            aria-controls="summary">
                        <i class="bi bi-caret-down-fill text-secondary"></i>
                    </button>
                </div>

                <!-- Collapsible content -->
                <div class="collapse my-2 ms-5 text-start" id="summary">
                    <p class="mb-0">Summary ....</p>
                </div>
            </li>
            
            
        </ul>
{% endblock %}